header{
    display: flex;
    justify-content: center;
    background-color: black;
    margin-bottom: 50px;
}
h1{
    font-family: 'Play';
    color: greenyellow;
}
.game{
    display: flex;
    justify-content: space-around;
}
.controls{
    display: flex;
    justify-content: center;
}
.controls button{
    background-color: black;
    font-family: 'Play';
    margin: 20px;
    width: 20vh;
    height: 7vh;
    color: greenyellow;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid greenyellow;
    border-radius: 10px;
}
div{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    border: 2px solid greenyellow;
    justify-content: center;
    align-items: center;
}

.torre{
    justify-content: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.bloco {
    height: 30px;
    border-radius: 10px;
    background-color: black;
}

#bloco4{
    width: 300px;    
}

#bloco3{
    width: 250px;
}

#bloco2{
    width: 200px;
}

#bloco1{
    width: 150px;
}

#bloco0{
    width: 100px;
}

.hidden{
    display: none;
}

.selectedTower{
    border: 2px solid red;
}